<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantástica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:wght@300;400&family=Rajdhani&family=Roboto:ital,wght@0,700;1,900&family=VT323&display=swap" rel="stylesheet">
	<!-- <script src="https://kit.fontawesome.com/90a414e190.js" crossorigin="anonymous"></script> -->
	<script src="../public/js/perfil2.js"></script>
	<link rel="stylesheet" href="/css/geral2.css"> 
</head>
<body>
​
    <link rel="stylesheet" href="css/form-usuario2.css">
	
	<form id="form-usuario" method="POST" action="" enctype="multipart/form-data">
		<label class="input-file-container">
			Clique para escolher uma imagem
			<input type="file" name="img" id="img">
		</label>
		
		<div class="campos">
			<label>
				Nome:
				<input type="text" name="nome" id="nome" placeholder="Digite o nome do usuário" value="Renato Aragão">
			</label>
		
			<label>
				E-mail:
				<input type="email" name="email" id="email" placeholder="Digite e-mail do usuário" value="didi@trapalhoes.com">
			</label>
		
			<label>
				Senha:
				<input type="password" name="senha" id="senha" placeholder="Digite a senha">
			</label>
		
			<label>
				Confirme a Senha:
				<input type="password" name="conf" id="conf" placeholder="Confirme a senha do usuário">
			</label>
​
			<button type="submit">Salvar</button>
		</div>
	</form>
​
</body>
</html>